/* ---- general styles ---- */
*{
    box-sizing: border-box;
    margin: 0;
}
.padding {
    padding: 0.3rem 0;
}
.flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.centered {
    text-align: center;
}
.invisible {
   display: none;
}
/* ---- layout ---- */
html, body {
    max-width: 600px;
    margin: auto;
}

body {
    font-family: "Smythe", system-ui;
    font-weight: 400;
    position: relative;

} 

header{
    background-image: url("image/burger-header.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 2rem;
    margin-bottom: 1rem;
}

.main-container {
    position: relative;
    width: 90%;
    margin: auto;
}

.menu-item-container {
    text-align: left;
    border-bottom: 1px solid #DEDEDE;
    margin: 1.5rem 0; 
    padding-bottom: 1.5rem;
}
.item-description {
    flex:1
}

/* ---- Text ---- */
h1 {
    font-size: 3rem;
}

.item-emoji {
    font-size: 4rem;   
    width: 85px;


}

.item-name {
    font-size: 1.75rem;
    
}

.item-price {
 font-size: 1.25rem;
}

.item-ingredients {
    color: #8B8B8B;
    font-size:1rem;

}

/* ---- buttons / actions ---- */

.submit-btn {
    border: none;
    color: white;
    font-weight: 700;
    background-color: #16DB99;    
    border-radius: 3px;

}

.add-btn {
   border: solid 1px #DEDEDE;
   border-radius: 50%;
   background: none;
   width: 48px;
   height: 48px;
   padding: 0;
   font-optical-sizing: auto;
   font-size: 2rem;
   font-family: "Inter", sans-serif;
   font-weight: 100;
   line-height: 24px;
}

/* ---- order summary ---- */

.order-summary {
    position:fixed;
    bottom:0;
    background-color: white;
    padding: 1rem;
    height: fit-content;
    width: 100%;
    max-width: 600px;
}  

ul {
    list-style: none;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

.remove-btn {
    color: #BBBBBB;
    background: none;
    border: none;
    font-size:0.75rem ;
    padding: 10px;
}

.summary-price {
  flex: 1;
  text-align: end;  
  font-size: 1.25rem;
}

.order-summary button {
    font-size: 1rem;
}

/* ---- pop-up ---- */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

input, .submit-btn{
    padding: 0.85rem;
    width: 100%;
    margin: 0.5rem auto;
    font-size: 1.25rem;
}

.form-header {
    color: black;
    font-size: 1.4rem;
    font-weight: 700;

}
.payment-form {
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 3.8px;
    width: 80%;
    height: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    z-index: 1000; 
}

/* thank you message */

.thanks-msg {
    background-color:#ECFDF5;
    color: #065F46;
    padding:2.5rem;
    font-size: 2rem;
    border-radius: 3px;
}